.navbar{
    min-height:8vh; 
    border:0;
    margin-bottom: 0;  
    padding:25px 0px 0px 0px;
    .navcont{
        width:98%;
        margin: auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:5px 0px;
        .navbar-brand{
            display: block;
            height:10vh;
            padding-right:70px;
            img{
                width: 20px;
                height: 20px;
            }
        }
        .flexbox{
            width:40%;
            z-index: 4;
            padding-top: 20px;
            display: flex;
            justify-content: flex-end;
            ul{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            .sub-nav{
                padding-left: 0px;
                width:80%;
                margin: auto;
                margin-right:0;
                list-style-type: none;
                padding-left:60px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                z-index: 4;
                .items{
                    border-radius: 15px;
                    padding:3px 42px;
                    text-align: center;
                    .item{
                        justify-content: space-between;
                        text-decoration: none;
                        .subnav-link{
                            color: white;
                            font-family:  bahnschrift;
                            font-size: 12px;
                            // color:$knowMoreBtn1;
                            margin-bottom: 2px;
                        }
                        .subnav-nav-link{
                            font-family: bahnschrift;
                            font-size: 10px;
                            font-weight: 500;
                            // color:$knowMoreBtn1;
                        }
                    }
                }
                .items:hover{
                    box-shadow:2px 2px 12px #c4c4c4, 
                               -4px -3px 8px #ffffff;
                               transition: 0.2s ease-in-out;
                }
            }
        }
    }
    .hamburger{
        display: none;
    }
}
.navbar-toggle{
    border:none;
}
.navbar-toggle:hover{
    background-color: transparent;
}

.navbar-inverse{
    background-color: transparent;
}
.banner{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: black;
    height: 100vh;
    .background-img{
        img{
            height: 100vh;
            width: 1200px;
            float: right;
        }
        .opac_banner{
            position: relative;
            width: 100%;
            height: 100vh;
            background-color: #0e0e27;
            opacity: 0.88;
        }
        .nav{
            position: absolute;
            top: 0px;
        }
    }
}